.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px
}

.item {
    background-color: silver;
}
.item .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    background-color: rgb(44, 44, 44);
    color: white;
    cursor: pointer;
}
.item .content{
    padding: 1rem;
}
.item .content p{
    text-align: left;
}